/tfidf
/bge_sample
/semantic_space
/clustering_comparison
/.bge_full.inprogress
/.weekly_patterns.inprogress
/bge_full
/weekly_patterns
/.negative_binomial.inprogress
/negative_binomial
/weekly_counts
/.representation_comparison.inprogress
/representation_comparison
/weekly_composition
/space_sensitivity
/foundation_t1
/foundation_t1_ablation
